In [2]:
# data
products = {
    "tên": ["Laptop Dell XPS", "iPhone 14", "Samsung Galaxy S23", "Tai nghe Sony WH-1000XM5", "Máy ảnh Canon EOS R"],
    "giá bán": [35000000, 25000000, 22000000, 7000000, 42000000],
    "ngày tạo": ["2023-01-15", "2023-03-10", "2023-04-05", "2023-05-22", "2023-06-18"],
    "category": ["Laptop", "Điện thoại", "Điện thoại", "Phụ kiện", "Máy ảnh"]
}
products

{'tên': ['Laptop Dell XPS',
  'iPhone 14',
  'Samsung Galaxy S23',
  'Tai nghe Sony WH-1000XM5',
  'Máy ảnh Canon EOS R'],
 'giá bán': [35000000, 25000000, 22000000, 7000000, 42000000],
 'ngày tạo': ['2023-01-15',
  '2023-03-10',
  '2023-04-05',
  '2023-05-22',
  '2023-06-18'],
 'category': ['Laptop', 'Điện thoại', 'Điện thoại', 'Phụ kiện', 'Máy ảnh']}

## Tạo csv với pandas
- Chuyển dữ liệu dict -> dataframe
- Dùng hàm to_csv()

In [ ]:
import pandas as pd

df = pd.DataFrame(products)
# nếu đã có file -> tự động ghi đè file
df.to_csv("products.csv", index=False)

## Đọc csv với pandas
- Khi trả về -> dataframe
- Dùng các hàm hỗ trợ để in thông tin của bảng dữ liệu
  - info()
  - describe()
  - shape + dtypes (bien)
  - head() + tail()

In [15]:
# ham read_csv báo lỗi khi không có file
try:
    df_from_csv = pd.read_csv("products.csv")
    print(df_from_csv)
    print("Info: ----------------------")
    print(df_from_csv.info())
    print("Describe: ----------------------")
    print(df_from_csv.describe())
    print("Shape: ----------------------")
    print(df_from_csv.shape)
    print("dtypes: ----------------------")
    print(df_from_csv.dtypes)
    print("head: ----------------------")
    print(df_from_csv.head(1))
    print("tail: ----------------------")
    print(df_from_csv.tail(2))
except Exception as e:
    print("Loi:", e)

                       name     price  created_at    category
0           Laptop Dell XPS  35000000  2023-01-15      Laptop
1                 iPhone 14  25000000  2023-03-10  Điện thoại
2        Samsung Galaxy S23  22000000  2023-04-05  Điện thoại
3  Tai nghe Sony WH-1000XM5   7000000  2023-05-22    Phụ kiện
4       Máy ảnh Canon EOS R  42000000  2023-06-18     Máy ảnh
Info: ----------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        5 non-null      object
 1   price       5 non-null      int64
 2   created_at  5 non-null      object
 3   category    5 non-null      object
dtypes: int64(1), object(3)
memory usage: 292.0+ bytes
None
Describe: ----------------------
              price
count  5.000000e+00
mean   2.620000e+07
std    1.336787e+07
min    7.000000e+06
25%    2.200000e+07
50%    2.500000e+07
75%    3.500000e+07
max    4.200000e+07
Shape: ----------------------
(5, 4)
dtypes: ----------------------
name          object
price          int64
created_at    object
category      object
dtype: object
head: ----------------------
              name     price  created_at category
0  Laptop Dell XPS  35000000  2023-01-15   Laptop
tail: ----------------------
                       name     price  created_at  category
3  Tai nghe Sony WH-1000XM5   7000000  2023-05-22  Phụ kiện
4       Máy ảnh Canon EOS R  42000000  2023-06-18   Máy ảnh

# Lọc dữ liệu

## Lọc cột - series
`<ten_dataframe>['<ten cot>']`

In [19]:
# lọc cột với dữ liệu trên 2000000
df_from_csv["price"] > 20000000

0     True
1     True
2     True
3    False
4     True
Name: price, dtype: bool

In [22]:
new_data = df_from_csv[["price","category"]]
new_data[df_from_csv["price"] > 30000000]

      price category
0  35000000   Laptop
4  42000000  Máy ảnh

## Lọc hàng
- `slice [start: stop(n-1): step]`
- Bỏ start: 0
- Bỏ stop: length - 1 (lấy tới cuối cùng)
- Bỏ step: 1

In [ ]:
# loc 2 hang dau
df_from_csv[:2]

In [ ]:
df_from_csv[1::2]