In [1]:
# add dữ liệu từ csv
import pandas as pd
df = pd.read_csv("products.csv")
df.tail(2)

                        tên   giá bán    ngày tạo  category
3  Tai nghe Sony WH-1000XM5   7000000  2023-05-22  Phụ kiện
4       Máy ảnh Canon EOS R  42000000  2023-06-18   Máy ảnh

# Lọc bằng chỉ số (iloc)

> `iloc` lọc dữ liệu dựa trên vị trí chỉ số trong DataFrame

In [ ]:
df.iloc[:3] # lay 3 dong dau tien

                  tên   giá bán    ngày tạo    category
2  Samsung Galaxy S23  22000000  2023-04-05  Điện thoại

In [ ]:
# Lấy kết hợp dòng và cột
df.iloc[2::2, 2:] # lay dong 2 -> 5 (bước nhảy 2), cột 2 -> cuối

     ngày tạo    category
2  2023-04-05  Điện thoại
4  2023-06-18     Máy ảnh

# Lọc bằng nhãn (loc)

> `loc` lọc dữ liệu dựa trên nhãn của chỉ số trong DataFrame

In [12]:
df.loc[3:, ["category", "giá bán"]]  # lấy từ dòng 3 -> cuối, cột giá bán + category

   category   giá bán
3  Phụ kiện   7000000
4   Máy ảnh  42000000

In [ ]:
# lọc có điều kiện
df.loc[df["giá bán"] > 25000000, : "ngày tạo"] # lấy dòng nào có giá bán > 25tr, cột 0 -> ngày tạo

                   tên   giá bán    ngày tạo
0      Laptop Dell XPS  35000000  2023-01-15
4  Máy ảnh Canon EOS R  42000000  2023-06-18