In [68]:
import pandas as pd
df = pd.read_csv("Billionaires.csv")
df.head()

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,cpi_change_country,gdp_country,gross_tertiary_education_enrollment,gross_primary_education_enrollment_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country,latitude_country,longitude_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,67059887.0,46.227638,2.213749
1,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,1.1,"$2,715,518,274,227",65.6,102.5,82.5,24.2,60.7,67059887.0,46.227638,2.213749
2,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
3,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891
4,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,7.5,"$21,427,700,000,000",88.2,101.8,78.5,9.6,36.6,328239523.0,37.090240,-95.712891

# Xử lý dữ liệu NaN
- isnull().sum()
- dropna(axis=1): `xóa tất cả cột có chứa dữ liệu null`
- drop(['tencot'], axis=1, inplace=True): `bỏ các cột không cần thiết`

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna()

In [ ]:
df.dropna(axis=1)

In [ ]:
# hàm ghi đè lên dữ liệu cũ
df.drop(["organization"], axis=1, inplace=True)

# Điền khuyết
- fillna()
- bfill: `thay giá trị khuyết bằng giá trị ngay sau nó`
- ffill: `thay giá trị khuyết bằng giá trị ngay trước nó`

In [ ]:
nan_rows_any = df[df.isna().any(axis=1)]

print("\nRows with at least one NaN value:")
print(nan_rows_any)

In [ ]:
df_filled_0 = df.fillna(0)
df_filled_0.isnull().sum()
df_filled_0.tail()

In [ ]:
# df_old = df.fillna(method="bfill")
df_bfill = df.bfill()
df_bfill.isnull().sum()

In [ ]:
df_ffill = df.ffill()
df_ffill.isnull().sum()

# Ép kiểu
- dtypes
- Series.astype('<kiểu dữ liệu>')
- pd.to_numeric(<cột>): `để panda tự chọn kiểu phù hợp`

In [ ]:
df.dtypes

In [58]:
df_ffill.birthYear = df_ffill.birthYear.astype("int")
df_ffill.birthYear.dtype

dtype('int64')

In [ ]:
df_ffill.age = pd.to_numeric(df_ffill.age)
df_ffill.age.dtype

# Dữ liệu trùng lặp
- df['ten cot'].duplicated().sum()
- df['ten cot'].drop_duplicates()

In [ ]:
df_dup = df
df_dup.duplicated().sum()

In [ ]:
# xoa ca hang trung
df_dup = df_dup.drop_duplicates()
df_dup.duplicated().sum()

In [ ]:
df_dup[df_dup["rank"].duplicated()]

In [ ]:
df_dup.drop_duplicates(subset=["rank"])